{% extends 'dc_monitor_app/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>{{ request.user.username }} Profile</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">{{ groups.first }} Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="edit-profile">
                <div class="row">
                    <div class="col-lg-12">
                        {% block form %}
                        <form class="card" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-header">
                                <h4 class="card-title mb-0">Edit Profile</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#"
                                                             data-toggle="card-collapse">
                                    <i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#"
                                                                           data-toggle="card-remove">
                                    <i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Username</label>
                                            {% render_field user_form.username class="form-control" type="text" placeholder="Username" %}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">First name</label>
                                            {% render_field user_form.first_name class="form-control" type="text" placeholder="Firstname" %}
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Last name</label>
                                            {% render_field user_form.last_name class="form-control" type="text" placeholder="Lastname" %}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Email address</label>
                                            {% render_field user_form.email class="form-control" type="email" placeholder="Email" %}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Phone Number</label>
                                            {% render_field clint_form.phone_number class="form-control" type="number" placeholder="01********" %}
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Address</label>
                                            {% render_field clint_form.location  type="text" placeholder="Cairo,Alzaiton" %}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Image</label>
                                           {% render_field clint_form.prof_image%}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">{{ clint_form.errors }}</label>
                                            <label class="form-label">{{ user_form.errors }}</label>


                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary" type="submit">Update Profile</button>
                            </div>
                        </form>
                            {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}