{% extends 'dc_monitor_app/registration_base.html' %}
{% load static %}
{% load icons %}
{% load widget_tweaks %}
{% block content %}
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <a href="" class="logo"><img src='{% static 'images/blueLogo.png' %}' height="75" alt="logo"></a>
                        <h5 class="font-size-16 text-50 mb-4" style="color: #3051D3">To monitor your balance in
                            electricity and know your consumption </h5>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-xl-5 col-sm-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="p-2">
                                <h5 class="mb-5 text-center">Create New Account.</h5>

                                <form class="form-horizontal" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                                            {% csrf_token %}

                                            <div class="form-group form-group-custom mb-4">
                                             {% render_field form.username  class="form-control" id="username" name="username" %}
                                             <label for="username">username</label>
                                         </div>

                                         <div class="form-group form-group-custom mb-4">
                                             {% render_field form.first_name  class="form-control" id="first_name" name="first_name" %}
                                             <label for="first_name">First Name</label>
                                         </div>

                                         <div class="form-group form-group-custom mb-4">
                                             {% render_field form.last_name  type="text" class="form-control" id="last_name" name="last_name" class="is-required" %}
                                             <label for="last_name">Last Name</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            {% render_field form.email  type="email" class="form-control" id="usermail" name="usermail"  %}
                                            <label for="usermail">Email</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            {% render_field form.password1  type="password" class="form-control" id="userpassword" name="password"  %}
                                            <label for="userpassword">Password</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            {% render_field form.password2  type="password" class="form-control" id="userpassword" name="confPassword" %}
                                            <label for="userpassword">Confirm Password</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customControlInline" name="check">
                                                        <label class="custom-control-label" for="customControlInline" name="accept">I accept <a href="#" class="text-primary">Terms and Conditions</a></label>
                                                    </div>


{#

                                    <div class="mt-4">
                                             <input class="btn  btn-block waves-effect waves-light" type="submit"  value="Register" style="background-color: #3051d3;color: #fff;">
                                    </div>
                                            <br>
                                         <div class="alert alert-primary" role="alert">
                                            {{ form.errors }}
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-4 text-left">
                                                <a href="{% url 'login_view' %}" class="text-muted">
                                                    {% icon 'user' %}  Already have account?</a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
{% endblock %}