{% load static %}
 <!-- Page Sidebar Start-->
        <div class="page-sidebar iconcolor-sidebar">
          <div class="main-header-left d-none d-lg-block">
            <div class="logo-wrapper"><a href=""><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
          </div>
          <div class="sidebar custom-scrollbar">

            <ul class="sidebar-menu">
              <li >
                  <a href="{% url 'dashboard_view' %}" class="sidebar-header" >
                      <i data-feather="home"></i>
                      <span>Dashboard</span>
                  </a>
              </li>

                 <li>
                  <a class="sidebar-header" href="#">
                      <i data-feather="align-right"></i>
                      <span>Devices</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'add_meter' %}">Add New Tool</a></li>
                  <li><a href="{% url 'all_meters' %}">View All Tools</a></li>
                </ul>
              </li>


              <li><a class="sidebar-header" href="#"><i data-feather="users"></i><span>Customers</span></i></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'all_customers_view' %}">View All Customers</a></li>
                </ul>
              </li>

              <li>
                  <a class="sidebar-header" href="#">
                      <i data-feather="align-right"></i>
                      <span>Devices</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'add_appliance_view' %}">Add New Appliance</a></li>
                  <li><a href="{% url 'all_appliance_view' %}">View All Appliance</a></li>
                </ul>
              </li>

                <li>
                  <a class="sidebar-header" href="#">
                      <i data-feather="align-right"></i>
                      <span>Settings</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'profile' %}">Profile</a></li>
                  <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                    <li><a href="{% url 'change_password' %}">Change Password</a></li>
                </ul>
              </li>

              <li><a class="sidebar-header" href="{% url 'logout' %}" ><i data-feather="log-out"></i ><span>Logout</span></a>
              </li>

            </ul>
          </div>
        </div>
        <!-- Page Sidebar Ends-->