{% load static %}
 <!-- Page Sidebar Start-->
        <div class="page-sidebar iconcolor-sidebar">
          <div class="main-header-left d-none d-lg-block">
            <div class="logo-wrapper"><a href=""><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
          </div>
          <div class="sidebar custom-scrollbar">
            <ul class="sidebar-menu">
              <li ><a href="#" class="sidebar-header" ><i data-feather="home"></i><span>Dashboard</span></a></li>

              <li><a class="sidebar-header" href="#"><i data-feather="airplay"></i><span>Tools</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="addnewtool.html">Add New Tool</a></li>
                  <li><a href="alltools.html">View All Tools</a></li>
                </ul>
              </li>
              <li><a class="sidebar-header" href="#"><i data-feather="users"></i><span>Customers</span></i></a>
                <ul class="sidebar-submenu">
                  <li><a href="allcutomers.html">View All Customers</a></li>
                </ul>
              </li>

              <li><a class="sidebar-header" href="#"><i data-feather="align-right"></i ><span>Devices</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="addnewdevice.html">Add New Device</a></li>
                  <li><a href="alldevicies.html">View All Devicies</a></li>
                </ul>
              </li>
              <li><a class="sidebar-header" href="system.html"><i data-feather="database"></i ><span>System</span></a>
              <li><a class="sidebar-header" href="{% url 'logout' %}" ><i data-feather="log-out"></i ><span>Logout</span></a>
              </li>

            </ul>
          </div>
        </div>
        <!-- Page Sidebar Ends-->