{% extends 'dc_monitor_app/registraion/register_success.html' %}
{% load icons %}
{% block content %}
      <div class="alert  alert-dismissible" style="background-color: #3051D3;color: #fff;">
                                                    <b>coming </b> soon
                                                </div>
{% endblock %}

  {% block button %}
    <div class="mt-4 text-center">
        <a href="{% url 'dashboard_view' %}" class="text-muted">
            {% icon  'fas fa-user-circle' %} back to your Dashboard</a>
    </div>
{% endblock %}