 {% extends 'dc_monitor_app/base.html' %}
{% load widget_tweaks %}
 {% block content %}
 <div class="page-wrapper">
     {% include 'dc_monitor_app/information_bar.html' %}
     <div class="page-body-wrapper">
         {% include 'dc_monitor_app/sidebar.html' %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-12">
            <h3>Tools</h3>

          </div>

        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="edit-profile">
        <div class="row">
          <div class="col-lg-12">
          {% block form_action %}
            <form class="card" method="POST" >
            {% endblock %}
                {% csrf_token %}
              <div class="card-header">
                  {% block header %}
                <h4 class="card-title mb-0">Add New Tool</h4>
                      {% endblock %}
                <div class="card-options"><a class="card-options-collapse" href="#" data-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-toggle="card-remove">
                    <i class="fe fe-x"></i></a></div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <label for= "SER" class="form-label">Serial Number</label>
                         {% render_field form.SER  minlength="10" maxlength="10"  placeholder="Serianl Number"   class="form-control" id="SER" name="SER" %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                  {% block button %}
                <button class="btn btn-primary" type="submit">Add</button>
                      {% endblock %}
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
     </div>
 </div>
{% endblock %}