{% extends 'dc_monitor_app/base.html' %}
{% block content %}

<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-12">
            <h3>Profile</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>

            <!-- Bookmark Ends-->

        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="user-profile">
        <div class="row">
          <!-- user profile first-style start-->
          <div class="col-sm-12">
            <div class="card hovercard text-center">
              <div class="cardheader"></div>
              <div class="user-image">
                <div class="avatar"><img alt="" src="{{ user.clint.prof_image.url }}"></div>
              </div>
              <div class="info">
                <div class="row">
                  <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="ttl-info text-left">
                          <h6>Email</h6><span>{{user.email}}</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="ttl-info text-left">

                          <h6>Phone Number</h6><span>{{user.clint.phone_number}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                    <div class="user-designation">
                      <div class="title"><a target="_blank" href="#">{{request.user.clint.full_name}}</a></div>
                      <div class="desc mt-2">{{  user.groups.get }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="ttl-info text-left">
                          <h6>Devices </h6>
                            {% for d in devices %}
                            <span>{{d}}</span><br>
                            {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="ttl-info text-left">
                          <h6>   Address </h6><span>{{request.user.clint.location}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-footer">
                <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-block" data-original-title="" title="">Edit Profile</a>
              </div>
            </div>
          </div>
    </div>

  </div>
    </div>
</div>
{% endblock %}